name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Asegúrate de que tu rama se llame main o cámbialo a master

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20 # Ponemos directamente la versión 20

      - name: Install dependencies
        run: yarn install

      - name: Generate Static Site
        run: yarn generate

      # Este paso es fundamental para que carguen los estilos en GitHub Pages
      - name: Create .nojekyll
        run: touch .output/public/.nojekyll

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./.output/public
          force_orphan: true # Crea un historial limpio en la rama de despliegue